<h2>Pirate: <%= @pirate.name %></h2>

<ul>
    <h3><li>ID #<%= @pirate.id %></li></h3>
    <h3><li>Weight: <%= @pirate.weight %></li></h3>
    <h3><li>Height: <%= @pirate.height %></li></h3>
</ul>
<br></br>
<h2>Ships: <%=  %></h2>
<ul>
    <h3><li>Name: <%=  %></li></h3>
    <h3><li>Category: <%=  %></li></h3>
    <h3><li>Booty: <%=  %></li></h3>
</ul>